<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto dark:bg-gray-800">
    <div class="brand flex content-center">
      <img src="./../../../assets/img/logo.png" class="w-10" alt="" />
      <p class="ms-2 mt-2 font-bold">PERSUNI KPS Bogor</p>
    </div>

    <ul class="space-y-2 mt-10 font-medium">
      <li *ngIf="userLogin.role_id === 1">
        <a
          (click)="toggleDataMaster()"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:p-3 dark:text-white hover:bg-[#DCF2F1] dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-users"></i>
          <span class="ms-3">Data Master</span>
          <i class="fa-solid fa-chevron-down ml-10"></i>
        </a>
        <ul id="submenu-data-master" class="ml-8 space-y-2 hidden">
          <!-- Sub-menu items -->
          <li>
            <a
              routerLink="/users"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Users</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/groups"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Groups</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/members"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Members</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/customer"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Customer</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/milk"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Milk</span>
            </a>
          </li>

          <!-- Add more sub-menu items as needed -->
        </ul>
      </li>

      <li>
        <a
          (click)="toogleReporting()"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:p-3 dark:text-white hover:bg-[#DCF2F1] dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-clipboard-list"></i>
          <span class="ms-3">Reporting</span>
          <i class="fa-solid fa-chevron-down ml-16"></i>
        </a>
        <ul id="submenu-reporting" class="ml-8 space-y-2 hidden">
          <!-- Sub-menu items -->
          <li>
            <a
              routerLink="/penerimaan-susu"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Penerimaan Susu</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/pengeluaran-susu"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Pengeluaran Susu</span>
            </a>
          </li>

          <!-- Add more sub-menu items as needed -->
        </ul>
      </li>

      <li>
        <a
          (click)="logout()"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:p-3 hover:bg-[#DCF2F1] dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="ms-3">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64 h-screen bg-gradient-to-b from-[#DCF2F1] to-[#365486]">
  <router-outlet></router-outlet>
</div>
